﻿@{
    ViewBag.Title = "Data";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Data ska vara i textform med kolumner för: Norr, Öst, Namn och Typ separerade med TAB eller semikolon (;). 
    Typ kan vara "blue" eller "red" och anger alltså vilken färg markeringen får.</p>

@using (Html.BeginForm("Data", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        Fil: <input id="file" type="file" name="file"/>
    </div>
    <hr />
    <div>
        Klistra in:<br />
        <textarea id="text" rows="15" cols="100" name="text"></textarea>
    </div>
    <hr />
    <div>
        Settings<br />
        <input id="hasHeadingsCheckbox" type="checkbox" name="hasHeadings"/>första raden är rubriker
    </div>
    <div>
        <input id="goButton" type="submit" value="Go!" />
    </div>
}
