﻿@{
    ViewBag.Title = "Pluppar på kartan";
}

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	var contentstring = [];
	var regionlocation = [];

	var names = @Html.Raw((new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(ViewBag.Names));
    var lats = @((new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(ViewBag.Latitudes));
    var longs = @((new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(ViewBag.Longitudes));
    var dots = @Html.Raw((new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(ViewBag.Markers));

	var markers = [];
	var iterator = 0;
	var areaiterator = 0;
	var map;
	var infowindow = [];
	geocoder = new google.maps.Geocoder();

	$(document).ready(function () {
		setTimeout(function() { initialize(); }, 400);
	});

	function initialize() {
		infowindow = [];
		markers = [];
		//GetValues();
		iterator = 0;
		areaiterator = 0;
		region = new google.maps.LatLng(lats[areaiterator], longs[areaiterator]);
		map = new google.maps.Map(document.getElementById("Map"), {
			zoom: 4,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			center: region,
		});
		drop();
	}

	function drop() {
		for (var i = 0; i < names.length; i++) {
			setTimeout(function() {
				addMarker();
			}, 800);
		}
	}

	function addMarker() {
	    var address = names[areaiterator];
	    var icons = 'http://maps.google.com/mapfiles/ms/icons/' + dots[areaiterator];
		var templat = lats[areaiterator];
		var templong = longs[areaiterator];
		var temp_latLng = new google.maps.LatLng(templat, templong);
		markers.push(new google.maps.Marker(
		{
		    position: temp_latLng,
			map: map,
			icon: icons,
			draggable: false
		}));
		iterator++;
		info(iterator);
		areaiterator++;
	}

	function info(i) {
		infowindow[i] = new google.maps.InfoWindow({
			content: names[i - 1]
		});
		infowindow[i].content = names[i - 1];
		google.maps.event.addListener(markers[i - 1], 'click', function() {
			for (var j = 1; j < names.length + 1; j++) {
				infowindow[j].close();
			}
			infowindow[i].open(map, markers[i - 1]);
		});
	}
</script>


<div id="Map" style="width: 100%; height: 800px;">
</div>
